html{
    margin:0;
    padding: 0;
    height: 100vh;
}

body{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin:0;
}

#content{
    display: block;
    text-align: center;
    width: 50%;
    height:100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2em;
}

#main-menu {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-bottom: 0;
}

.main-menu-item {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    display: block;
    width: 5em;
    border-bottom: 2px darkslategray solid;
}

#main-menu a {
    margin-left: 1em;
    margin-right: 1em;
    text-decoration: none;
}

.radio-choice{
    list-style-type: none;
}

#links-table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}


.table-cell {
    border: 1px solid black;
}

.table-row {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#links-table {
    list-style-type: none;
    padding: 0;
}

#radio-delete-fieldset {
    padding-bottom:1em;
    display: flex;
    justify-content: center;
}

#radio-choice-list {
    text-align: left;
}

h3 {
    margin-bottom: 1em;
}

