{% extends "base.html" %}

{% block title %}
        About - Visit Later
{% endblock %}

{% block content%}
<h1> About Us </h1>
<div>
    <p>How often do you come across an article, blog post or video you want to check out immediately,
        but you realize you have some more urgent things to do?
    </p>
    <p>
        You might bookmark the page, email or WhatsApp it to yourself or add it to the "Reading List" 
        some browsers have.
    </p>
    <p>
        But what if there were a simple and reliable app just for that?
    </p>
    <p>
        That's where Visit Later comes in. Try it out!
    </p>
    <p>
        P.S. We always welcome feedback. If you encounter any problems or have any suggestions for us,
        don't hesitate to <a href = "{{url_for('contact')}}">contact us</a>.
    </p>
{% endblock %}