<!DOCTYPE html>
<html>
	<head>
		<title>About</title>
	</head>
	<body>
        <nav id = "main-menu">
			<a href="{{url_for('index')}}"><div class = "main-menu-item"> Home </div></a>
 			<a href="{{url_for('about')}}"><div class = "main-menu-item"> About </div></a> 
		</nav>
		<h1> About Us </h1>
		<p>
			<p> How often did you find yourself finding an article or a video you want to read,
                but have other things to do?
            </p>
            <p>
                You might bookmark the page, send it yourself over email or a messaging app, or use the "Reading List"
                some browser have.
            </p>
            <p>
                But what if you had a self-contained, reliable, and feature rich app that takes care of everything
                for you, and makes the whole experience as smooth as butter?
            </p>
            <p>
                That's where Visit Later comes into the picture. Try it out!
            </p>
            <p>
                PS: We always are welcome of any feedback. If you encounter any problems or have any suggestions for us,
                don't hesitate to <a href = "{{url_for('contact')}}">contact us</a>.
            </p>
		</p>
	</body>
</html>