<!DOCTYPE html>
<html>
	<head>
		<title>Visit Later</title>
	</head>
	<body>
		<nav id = "main-menu">
			<a href="{{url_for('index')}}"><div class = "main-menu-item"> Home </div></a>
 			<a href="{{url_for('about')}}"><div class = "main-menu-item"> About </div></a> 
		</nav>
		<h1> Welcome to Visit Later </h1>
		<p>
			<b> Save any url to visit it later </b> <br>
			{% for entry in entries %}
				{{entry[0]}} {{entry[1]}}
				<br>
			{% endfor %}
		</p>
		<div>
			<form action="{{url_for('add_link')}}" method="post">
				<label for="title">Title:</label>
				<input type="text" id="title" name="title"><br><br>
				<label for="url">URL:</label>
				<input type="text" id="url" name="url"><br><br>
				<input type="submit" value="Add URL">
			</form>
		</div>
	</body>
</html>