<!DOCTYPE html>
<html>
	<head>
		<title>Visit Later</title>
		<link rel="stylesheet" href = "{{ url_for('static', filename='styles.css') }}">
	</head>
	<body>
		<div id="content">
			<nav id = "main-menu">
				<a href="{{url_for('index')}}"><div class = "main-menu-item"> Home </div></a>
				<a href="{{url_for('about')}}"><div class = "main-menu-item"> About </div></a> 
			</nav>
			<h1> Welcome to Visit Later </h1>
			<table id="links-table">
				<b> Save any link to visit it later </b> <br>
				{% for link in entries %}
				<tr id = "table-row-{{loop.index0}}" class="table-row">
					<td id="title-{{loop.index0}}" class="table-cell">{{link[1]}}</td>
					<td id="url-{{loop.index0}}" class="table-cell">{{link[0]}}</td>
				</tr>
				{% endfor %}
			</table>
			<br>
			<hr>
			<h3> Add Link </h3>
			<div id="add-link-form">
				<form action="{{url_for('add_link')}}" method="post">
					{{add_item_form.hidden_tag()}}
					{{add_item_form.title.label}}
					<br>
					{{add_item_form.title(size=20)}}<br><br>
					{{add_item_form.url.label}}
					<br>
					{{add_item_form.url(size=20)}}<br><br>
					<input type="submit" value="Add Link" name="add-link-button" />
				</form>
			</div>
			<hr>
			<br>
			<h3> Delete Link </h3>
			<div id="delete-link-form">
				<form action="{{url_for('delete_link')}}" method="post">
					{{delete_items_form.hidden_tag()}}
					{% with messages = get_flashed_messages() %}
						{{delete_items_form.title.label}}
						<br>
						{{delete_items_form.title(size=20)}}
						<br>
						{% if error_strings["missing_fields"]["title"] in messages %}
							{{error_strings["missing_fields"]["title"]}}
						{% endif %}
						<br>
						{{delete_items_form.url.label}}
						<br>
						{{delete_items_form.url(size=20)}}
						<br>
						{% if error_strings["missing_fields"]["URL"] in messages %}
							{{error_strings["missing_fields"]["URL"]}}
						{% endif %}
						<br><br>
					{% endwith %}
					<fieldset id = "radio-delete-fieldset">
						<legend>Delete by field</legend>
						<ul id="radio-choice-list">
						{% for subfield in delete_items_form.by_field %}
							<li class="radio-choice">{{ subfield }} {{subfield.label}}</li>
						{% endfor %}
						</ul>
					</fieldset>
					<br>
					<input type="submit" value="Delete Link" name="delete-links-button" />
				</form>
			</div>
		</div>
	</body>
</html>